<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id"
          content="250196723574-9dghhh8o144qcbsg490g7n5fvc0vtvaf.apps.googleusercontent.com">
    <title>
        Parcial
    </title>
    {% block stylesheet %}
        <script src="https://kit.fontawesome.com/bde4733e75.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
    {% endblock %}
</head>

<body class="body">
<div class="d-flex" id="wrapper">
    <div id="content" class="col-lg-10">
        <div class="container-fluid">
            <div id="page-content-wrapper">
                <div class="container" style="background-color: rgba(255, 255, 255, 0.7);">
                    <!---MENSAJES-->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}success
        {% elif  message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}secondary{% endif %}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <!---->
                    <br>
                    <form id="myForm" action="{% url 'enviar' %}"
                          method="post" enctype="multipart/form-data"> {% csrf_token %}
                        <label>Origen: {{ usuario.email }}</label> <br>
                        <label>Destinatario:</label> <input type="text" name="destinatario" required><br>
                        <label>Contenido:</label><br> <textarea rows="5" name="contenido" required></textarea><br>
                        <img id="img" src="" style="max-height: 1000px; max-width: 950px"/>
                        <input type="file" id="mensaje_img" name="foto" accept="image/png, image/jpeg">
                        <button id="btn_anadir" type="submit" class="btn btn-info">Enviar
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>


{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            function readImage(input) {
                if (input.files && input.files[0]) {
                    let reader = new FileReader();
                    reader.onload = function (e) {
                        $('#img').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#mensaje_img").change(function () {
                readImage(this);
            });
        });
    </script>
{% endblock %}
</body>
</html>