<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id"
          content="250196723574-9dghhh8o144qcbsg490g7n5fvc0vtvaf.apps.googleusercontent.com">
    <title>
        Parcial
    </title>
</head>

<body class="body">
<div class="d-flex" id="wrapper">
    <div id="content" class="col-lg-10">
        <div class="container-fluid">
            <div id="page-content-wrapper">
                <div class="container" style="background-color: rgba(255, 255, 255, 0.7);">
                    <br>
                    <div class="contenedor" align="center">
                        <form id="myForm" action="{% url 'autenticar' %}"
                              method="post" enctype="multipart/form-data"> {% csrf_token %}
                            <input id="token" type="hidden" name="token">
                        </form>
                        <div class="g-signin2" data-onsuccess="onSignIn" style="padding-top: 30px"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% block javascripts %}
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script>
        function onSignIn(googleUser) {
            var id_token = googleUser.getAuthResponse().id_token;
            document.getElementById("token").value = id_token;
            document.getElementById("myForm").submit();
            /*
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'https://your.backend.com/logged');
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onload = function() { console.log('Signed in as: ' + xhr.responseText); };
            xhr.send('idtoken=' + id_token);*/
            /*
            $.ajax({
                type: 'POST',
                url: '

            {% url 'autenticar' %}',
                data: {
                    token: id_token,
                },
                beforeSend: function () {
                    $("#panelGraffitis").html("Cargando graffitis...");
                },
                success: function (data) {
                    $("#panelGraffitis").html(data);
                },
                error: function (data) {
                    console.log(data)
                }
            });*/
        }

        function onLoad() {
            gapi.load('auth2', function () {
                gapi.auth2.init();
            });
        }
    </script>
{% endblock %}
</body>
</html>