<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="google-signin-client_id"
          content="250196723574-jeqbmievhvgs41ppcqi0u25535c8v8qc.apps.googleusercontent.com">
    <title>
        Parcial
    </title>
    {% block stylesheet %}
        <script src="https://kit.fontawesome.com/bde4733e75.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
              crossorigin="anonymous">
    {% endblock %}
</head>

<body class="body">
<div class="d-flex" id="wrapper">
    <div id="content" class="col-lg-10">
        <div class="container-fluid">
            <div id="page-content-wrapper">
                <div class="container" style="background-color: rgba(255, 255, 255, 0.7);">
                <!----->
    {% if imagenes %}
        {% for imagen in imagenes %}
            <div class="alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}success
        {% elif  message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% else %}secondary{% endif %}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <!---->
                    <br>
                    <div class="contenedor" align="center">
                        <button id="btn_anadir" type="button" class="btn btn-outline-secondary"
                                onclick="signOut();">Cerrar sesión
                        </button>
                    </div>
                <br>
                <img id="img" src="" style="max-height: 1000px; max-width: 950px"/>
                    <h2>Imágenes</h2>
                    <table class="default">
                        <tr>
                            <th>Descripcion</th>
                            <th>Likes</th>
                            <th>Imagen</th>
                        </tr>
                    {% for imagen in imagenes %}
                        <tr>
                            <td>{{ imagen.descripcion }}</td>
                            <td>{{ imagen.likes }}</td>
                            <td><img src="{{ imagen.foto }}" alt="Girl in a jacket" width="500" height="600"></td>
                        <script>
                            cargarImagen({{ imagen.foto }})
                        </script>
                            <td>
                                <!-- <a href="http://localhost:8000/dar-like/{{ imagen.id }}">Like</a> -->
                                <a href="https://plantillaexameningweb.herokuapp.com/dar-like/{{ imagen.id }}">Like</a>

                            </td>
                            <td>
                                <!-- <a href="http://localhost:8000/eliminar-imagen/{{ imagen.id }}">Eliminar</a> -->
                                <a href="https://plantillaexameningweb.herokuapp.com/eliminar-imagen/{{ imagen.id }}">Eliminar</a>
                            </td>
                            <br>
                            <!-- <form action="http://localhost:8000/modificar-desc/{{ imagen.id }}" method="post" enctype="multipart/form-data"> -->
                            <form action="https://plantillaexameningweb.herokuapp.com/modificar-desc/{{ imagen.id }}" method="post" enctype="multipart/form-data"> {% csrf_token %}

                                <input type="text" name="descripcion">
                                <input type="submit" value="modificar descripcion">
                            </form>
                            </tr>
                    {% empty %}
                        <label>No hay imágenes</label>
                    {% endfor %}
                    </table>
                </div>



            <form action="{% url 'crear-imagen' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
                <label>Descripcion</label><input type="text" name="descripcion" required><br>
                <label>Imagen</label><input type="file" name="foto" accept="image/png, image/jpeg">
                <button id="btn_anadir" type="submit" class="btn btn-info">Enviar</button>
            </form>

            </div>
        </div>
    </div>
</div>


{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <script>
        function cargarImagen(img) {
            document.getElementById("img").src=img;
        }
        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
                window.location.href = "https://plantillaexameningweb.herokuapp.com";
                //window.location.href = "http://localhost:8000";
                $.ajax({
                    type: "POST",
                    url: '{% url 'cerrar_sesion' %}',
                    success: function (result) {
                        window.location.href = "https://plantillaexameningweb.herokuapp.com";
                        //window.location.href = "http://localhost:8000";
                    },
                    error: function (req, status, error) {
                        window.location.href = "https://plantillaexameningweb.herokuapp.com";
                        //window.location.href = "http://localhost:8000";
                    }
                });
            });
        }

        function onLoad() {
            gapi.load('auth2', function () {
                gapi.auth2.init();
            });
        }
    </script>
{% endblock %}
</body>
</html>